
        <div class="comment-header" data-index={{id}}>
            <img class="comment-profile" src={{image}}>
            <div class="comment-name">{{name}}</div>
        </div>
        <div class="comment-body">
            {{commentBody}}
        </div>
    
