
        <div class="comment-header" data-index={{id}}>
            <img class="comment-profile" src={{image}}>
            <span class="comment-name">{{name}}</span>
            {{#if isEdited}}
                <span class="isEdited"> ● edited</span>
            {{/if}}
        </div>
        <div class="comment-body">
            {{commentBody}}
        </div>
    
