<div class="post-instance" data-ID={{id}}>
    <div class="interactions">
        <div class="like-sprite"></div>
        <div class="like-count">{{likeCount}}</div>
        <div class="comment-sprite"></div>
        <div class="comment-count">{{commentCount}}</div>
    </div>
    <span class="index-title"><button class="post-button">{{title}}</button><span>
    <button class="edit-post-button">edit post</button>
    <button class="delete-post-button">Delete Post</button>
</div>