<div class="post-instance" data-ID={{id}}>
    <div class="interactions">
        <div class="like-sprite"></div>
        <div class="like-count">{{likeCount}}</div>
        <div class="comment-sprite"></div>
        <div class="comment-count">{{commentCount}}</div>
    </div>
</div>