<div class="comment-bar" data-postID={{postID}} data-commentID={{commentID}}>
    <span class="comment-title"> comment on {{name}}'s post </span>
    <span class="comment-body" id="comment-body">:  {{commentBody}} </span>
    <input type="text" id="edit-comment-body" style="display: none;" />
</div>