@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    font-family: 'Roboto Mono', monospace;
}

.firsthead {
    position: sticky;
    top: 0px;
    background-color: #0081A7;
    display: flex;
    height: 4rem;
    z-index: 2; 
}

.secondhead {
    position: sticky;
    top: 0px;
    background-color: #66c0db;
    height: 4rem;
    z-index: 1;
}

.logo {
    font-size: 40px;
    margin: 0px;
    float: right;
}

.header_logo {
    background-image: url("https://media.discordapp.net/attachments/354239629798539264/1120363756287951061/merchant.jpg");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    display: inline-flex;
    width: 50px;
    height: 50px;
    margin: 0px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

#searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 9px;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    border-radius: 1.625rem;
    outline: none;
    background: #f5f5f5;
}

#searchsubmit {
    background: none;
    border: none;
    outline: none;
    margin-left: -2.5rem;
}

#searchsubmit:hover{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#profilePic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.profileBtn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 999;
}

.show-menu .dropdown-content{
    display: block;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#createpost {
    margin: 0.5rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: left;
    float: left;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1.625rem;
}

#createpost:hover {
    cursor:pointer;
}

.rightbtns {
    display: flex;
    float: right;
    text-align: right;
    flex-direction: right;
    justify-content: flex-end;
}

.movebutton {
    margin: 0.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    float: right;
    text-align: right;
    flex-direction: right;
    justify-content: flex-end;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1.625rem;
}

.movebutton:hover{
    cursor:pointer;
}

