@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    font-family: 'Roboto Mono', monospace;
}



body {
    margin: 0px;
}

body .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 999;
}

.firsthead {
     position: sticky;
     top: 0px;
     background-color: #0081A7;
     overflow: hidden;
     display: flex;
     height: 4rem;
}

.secondhead {
    position: sticky;
     top: 0px;
     background-color: #66c0db;
     overflow: hidden;
     height: 4rem;
}

.logo {
    font-size: 40px;
    margin: 0px;
    float: right;
}

.header_logo {
    background-image: url("https://media.discordapp.net/attachments/354239629798539264/1120363756287951061/merchant.jpg");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    display: inline-flex;
    width: 50px;
    height: 50px;
    margin: 0px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

#searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 9px;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    border-radius: 1.625rem;
    outline: none;
    background: #f5f5f5;
}

#searchsubmit {
    background: none;
    border: none;
    outline: none;
    margin-left: -2.5rem;
}

#searchsubmit:hover{
    cursor: pointer;
}

#logregbtn {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: right;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1.625rem;
}

#logregbtn:hover{
    cursor: pointer;
}

#createpost {
    margin: 0.5rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: left;
    float: left;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1.625rem;
}

#createpost:hover {
    cursor:pointer;
}

.rightbtns {
    display: flex;
    float: right;
    text-align: right;
    flex-direction: right;
    justify-content: flex-end;
}

.movebutton {
    margin: 0.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    float: right;
    text-align: right;
    flex-direction: right;
    justify-content: flex-end;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1.625rem;
}

.movebutton:hover{
    cursor:pointer;
}

.wrapper {
    display:flex;
    position: relative;
    background-color: #3bc98e;
    width: 440px;
    height: 440px;
    border: 4px solid #249e6b;
    border-radius: 1.625rem;
    overflow:hidden;
    z-index: 999;
    transform: scale(0);
    transition: transform .5s , height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}


.closelogreg {
    position: absolute;
    top: 10px;
    right: 10px;
    width:45px;
    height: 45px;
    font-weight: 1000;
    z-index: 1;
    border: none;
    background: none;
    outline: none;
}

.closelogreg:hover {
    cursor: pointer;
}

.wrapper .formbox {
    width: 100%;
    padding: 40px;
}


.wrapper .formbox.log {
    position: flex;
    transition: transform .18s ease;
    transform: translateX(0px);
}

.wrapper.active .formbox.log{
    transition: none;
    transform: translateX(-500px)
}

.wrapper .formbox.reg{
    position:absolute;
    transition: none;
    transform: translateX(500px);
}

.wrapper.active .formbox.reg{
    position: flex;
    transition: transform .18s ease;
    transform: translateX(0px);
}

.formbox h2 {
    font-size: 2rem;
    text-align: center;
}

.inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid;
    margin: 30px 0;
}

.inputbox label {
    position: absolute;
    top: -5px;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
}

.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.remember-forgot {
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a {
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.submitbtn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    font-size: 1em;
    transition: .5s;
}

.submitbtn:hover {
    background-color: black;
    color: white;
}

.login-register {
    font-size: .9em;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    text-decoration: none;
    font-weight: 600px;
}

.login-register p a:hover {
    text-decoration: underline;
}

#createpost-form{
    visibility: hidden;
    position: relative;
    width: 1000px;
    height: 650px;
    margin: auto;
    top: 15%;
    background-color: #3bc98e;
    border: 4px solid #249e6b;
    border-radius: 25px;
    bottom: 300px;
}

.header-post{
    display: flex;
}

.header{
    margin-left: 370px;
    font-size: 2rem;
}

.exit{
    margin-left: auto;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #3bc98e;
    border: none;
}

.exit:hover{
    background-color: #249e6b;
}

#title-post{
    margin-top: 1%;
    width: 950px;
    height: 80px;
    background-color: #3bc98e;
    margin-left: 2%;
    border-radius: 25px;
    border: solid #249e6b;
    font-size: 17px;
}

#post-body{
    margin-top: 1%;
    margin-left: 2%;
    width: 950px;
    height: 400px;
    background-color: #3bc98e;
    border: solid #249e6b;
    border-radius: 25px;
    font-size: 17px;
}

#submit-post{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid black;
    margin-left: 40%;
    margin-top: 20px;
    background-color: white;
}

#submit-post:hover{
    background-color: #f5f5f5;
}

#createpost-form.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

.post-instance{
    width: 95%;
    outline: solid #66c0db;
    margin-top: 10px;
    margin-left: 40px;
    display: flex;
    height: 50px;
  
}

.interactions{
    display: flex;
    margin-left: 20px;
}

.like-sprite{
    display: inline-block;
    background-image: url("../MCO1/sprites2.png");
    width: 50px;
    height: 30px;
    background-position: -600px -520px;
    background-size: 900px 786px;
    margin-top: 10px;
    background-color: white;
    border: none;
}

.like-count{
    padding-top: 4px;
    padding-left: 10px;
    font-size: 2rem;
}

.comment-sprite{
    display: inline-block;
    background-image: url("../MCO1/sprites2.png");
    width: 50px;
    height: 30px;
    background-position: -211px -785px;
    background-size: 700px 450px;
    margin-top: 10px;
    background-color: white;
    border: none;
    margin-left: 10px;
}

.index-title{
    margin-left: 100px;
    font-size: 17px;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 4px;
}

.comment-count{
    padding-left: 10px;
    padding-top: 4px;
    font-size: 2rem;
}

