@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    font-family: 'Roboto Mono', monospace;
}

body{
    margin: 0px;
}

.firsthead {
    position: sticky;
    top: 0px;
    background-color: #0081A7;
    display: flex;
    height: 4rem;
    z-index: 2; 
}

.secondhead {
    position: sticky;
    top: 0px;
    background-color: #66c0db;
    height: 4rem;
    z-index: 1;
}

.logo {
    font-size: 40px;
    margin: 0px;
    float: right;
    display: flex;
    align-items: center;
}

.header_logo {
    background-image: url("https://media.discordapp.net/attachments/354239629798539264/1120363756287951061/merchant.jpg");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    display: inline-flex;
    width: 50px;
    height: 50px;
    margin: 0px;
}

.header_text{
    cursor: pointer;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

#searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 9px;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    border-radius: 1.625rem;
    outline: none;
    background: #f5f5f5;
}

#searchsubmit {
    background: none;
    border: none;
    outline: none;
    margin-left: -2.5rem;
}

#searchsubmit:hover{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#profilePic {
    border-radius: 50%;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 3px 10px 0px 0px;
}

.profileBtn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    top: 64px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: #3bc98e;
    border: 1px solid #249e6b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 10px;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.show-menu .dropdown-content {
    display: block;
    opacity: 1;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#createpost {
    margin: 0.5rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: left;
    float: left;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1.625rem;
}

#createpost:hover {
    cursor:pointer;
}

.rightbtns {
    display: flex;
    float: right;
    text-align: right;
    flex-direction: right;
    justify-content: flex-end;
}

.movebutton {
    margin: 0.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    float: right;
    text-align: right;
    flex-direction: right;
    justify-content: flex-end;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1.625rem;
}

.movebutton:hover{
    cursor:pointer;
}

.profile-box {
    border: 2px solid #000000; 
    border-radius: 10px; 
    padding: 20px; 
    width: 85%;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.top-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-pic img {
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info h1 {
    font-size: 1.5em;
    margin: 0;
}

.bottom-section p {
    white-space: pre-wrap;
}

.bottom-section h2 {
    font-size: 0.9em;
    margin: 5px 0;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* imported from index.css*/

#createpost-form{
    visibility: hidden;
    position: relative;
    width: 1000px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    background-color: #3bc98e;
    border: 4px solid black;
    border-radius: 25px;
    bottom: 300px;
    z-index: 998;
}

.header-post{
    display: flex;
}

.header{
    margin-left: 370px;
    font-size: 2rem;
}

.exit{
    margin-left: auto;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #3bc98e;
    border: none;
}

.exit:hover{
    background-color: #249e6b;
}

#title-post{
    margin-top: 1%;
    width: 950px;
    height: 80px;
    background-color: #3bc98e;
    margin-left: 2%;
    border-radius: 25px;
    border: solid #249e6b;
    font-size: 17px;
}

#post-body{
    margin-top: 1%;
    margin-left: 1%;
    width: 950px;
    height: 400px;
    background-color: #3bc98e;
    border: solid #249e6b;
    border-radius: 25px;
    font-size: 17px;
    padding: 10px;
    overflow: hidden;
    resize: none;
}

#submit-post{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid black;
    margin-left: 40%;
    margin-top: 20px;
    background-color: white;
}

#submit-post:hover{
    background-color: #f5f5f5;
}

#createpost-form.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

.post-instance{
    display:flex;
    flex-direction: row;
    align-items: center;
    z-index: 0;
    border: solid 3px ;
    margin: 30px;
    font-size: 30px;
    border-radius: 50px;
    background-color: #3bc98e;
    pointer-events: none;
    transition: 0.5s;
  
}

.interactions{
    display: flex;
    margin-left: 20px;
}

.like-sprite{
    display: inline-block;
    background-image: url("../MCO1/sprites2.png");
    width: 50px;
    height: 30px;
    background-position: -605px -520px;
    background-size: 900px 786px;
    margin-top: 10px;
    background-color: yellow;
    border: none;
}

.like-count{
    padding-top: 4px;
    padding-left: 10px;
    font-size: 2rem;
}

.comment-sprite{
    display: inline-block;
    background-image: url("../MCO1/sprites2.png");
    width: 50px;
    height: 30px;
    background-position: -211px -785px;
    background-size: 700px 450px;
    margin-top: 10px;
    background-color: yellow;
    border: none;
    margin-left: 10px;
}

.index-title{
    margin-left: 100px;
    font-size: 20px;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 4px;
    pointer-events: auto;
}

.comment-count{
    padding-left: 10px;
    padding-top: 4px;
    font-size: 2rem;
}

.post-instance:hover{
    background-color: #249e6b;
}


.post-button {
    font-size: 2rem;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    border: none;
    background: none;
    pointer-events: auto;
}

#editpost-form{
    visibility: hidden;
    position: relative;
    width: 1000px;
    height: 650px;
    margin: auto;
    top: 15%;
    background-color: #3bc98e;
    border: 4px solid #249e6b;
    border-radius: 25px;
    bottom: 300px;
}

#editpost-form.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++DEREK'S CSS ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.button-container{
    float: right;
}

.clickable{
    margin-right: 20px;
}

.clickable:hover{
    background-color: rgba(149, 149, 149, 0.5);
}

.nav-bar{
	background-color:red;
}

.title{
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 1.4rem;
}
/*End of header elements*/

/*Edit post elements (Slide 5)*/
.body-container {
    border: 2px solid #000000; 
    border-radius: 10px; 
    padding: 20px; 
    width: 85%;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

div.post-footer {
    margin-top: 5px;
	padding: 16px;
    background-color: darkgrey;
    border-radius: 10px;
}

.comment-bar {
    display: flex; /* This turns comment-bar into a flex container */
    align-items: center; /* Aligns items at the start of the container */
    padding: 20px; /* add some padding */
    border-radius: 50px;
    background-color: lightgray;
    min-height: 50px; /* Or whatever height is appropriate */
    overflow: auto;
    flex-wrap: wrap;
}



.comment-body {
    flex-grow: 1;
    overflow: auto;
}

/*Content of comment bar*/

span.comment-title {
	padding: 3px;
	font-size: smaller;
	background-color: white;
    border-radius: 50px;
	min-width: 200px;
	
}

.comment-body p{
    white-space: pre-wrap;
    background-repeat: no-repeat;
    margin: 8px;
}

img.edit{
	float: right;
	margin-right: 5px;
    margin-top: 10px;
    margin-left: 10px; 
}


.edit {
    cursor: pointer;
    display: block;
    background-image: url("edit-symbol.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-top: 6px;
    margin-bottom: 8px;
}

div.edit{

	margin-left: 5px;
	margin-top: 5px;
    margin-left: 6em;
    float:right;

}

.comment{
	display: block;
	background: url('text_bubble_l.png') no-repeat 2.941% 40%;
	background-size: 128px 32px;
	width: 26px;
	height: 22px;
	margin-left: 4px;
}

.content-header{
    background-color: white;
	display: flex;
    
    border-radius: 50px;
    align-items: center;
}

.content-text{
    margin: 0 6px;
	
}

.post-title{
    align-items: center;
    margin: 0 33em ;
}

div.post-container{
	margin: auto;
	background-color:grey;
	border: 1px solid black;
	font-size: 14px;
	box-sizing: border-box;
    padding: 5px;
	
}


div.post-header {
	height: 35px;
	padding: 16px;
	display: flex;
	position: relative;
    margin-bottom: 17px;
}


.post-content {
    padding: 10px;
    background-color: darkgray;
	border-radius: 10px;
}

.img-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 10px;
	width:500px;
	height:500px;

}
.img{
	width: 100%;
    height: 100%;
	overflow: hidden;

}

.like{
	float:left;
	background-image: url('thumbs.png');
	background-size: 50px 25px;
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	
}

.dislike{
	float:left;
	background: url('thumbs.png') no-repeat -25px 0;
	background-size: 50px 25px;
	width: 25px;
	height: 25px;
	
}

.profile-icon {
	width: 60px;
	height: 60px;
	margin-right: 5px;
	border-radius: 50%;
	background-color: #FAFAFA;
	
	border: 1px solid #EFEFEF;
}

.profile-name-container{
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

.profile-name {
	padding: 5px;
    border-radius: 50px;
    background-color: lightgrey;
	
}


.profile-info{
	padding: 5px;
    border-radius: 50px;
    background-color: lightgray;
	width: 300px;
}

.username {
	font-size: inherit;
	
	margin: 0;
	padding: 0;
}

#editProfile {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 50px;
    background-color: lightgray;
	width: 200px;
}

.edit-post-button {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    padding: 0px;
    border-radius: 50px;
    background-color: lightgray;
	width: 200px;
}

.edit-button {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    padding: 0px;
    border-radius: 50px;
    background-color: lightgray;
	width: 200px;
}

.save-button {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    padding: 0px;
    border-radius: 50px;
    background-color: lightgray;
	width: 200px;
}