@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Tsukimi+Rounded:wght@700&display=swap');


body {
	color: #262626;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

/*Header elements*/

.button-container{
    float: right;
}

.clickable{
    margin-right: 20px;
}

.clickable:hover{
    background-color: rgba(149, 149, 149, 0.5);
}

.nav-bar{
	background-color:red;
}

.title{
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 1.4rem;
}
/*End of header elements*/

/*Edit post elements (Slide 5)*/
.body-container {
    padding: 30px;
	margin-top: 0px;
    background-color: #FFBD59;
}

.comment-bar {
    border-radius: 50px;
    padding: 10px;
	margin-top: 4px;
	display: flex;
    background-color: lightgray;
}

/*Content of comment bar*/
span.comment-title {
	flex-grow: 2;
    
    background-color: white;
    border-radius: 50px;
    /*
	display: inline-block;
	background-image: url("sprites2.png");
	background-size: 411px 393px;
	background-position: 0px -319px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	margin: 8px 4px 8px 0px;*/
}

span.comment-body {
	flex-grow: 1;
	display: inline-block;
	background-repeat: no-repeat;
    max-width: fit-content;
	margin: 8px 4px 8px 4px;
}

span.edit{
    flex-grow: 2;
}

.edit {
	
	display: inline-block;
	background-image: url("edit-symbol.png");
	background-position: 0 0;
	background-repeat: no-repeat;
    background-size: 20px 20px;
	width: 20px;
	height: 20px;
	/*margin-left: auto;*/
	margin-top: 8px;
	margin-bottom: 8px;
}



div.edit{
	/*Used for profile name*/
    background-size: 15px 15px;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	margin-top: 5px;
    
}
/*End of comment bar content*/

.content-header{
    text-align: center;
    border-radius: 50px;
    background-color: white;
}

.content-text{
	text-align: center;
}


div.post-container{
	margin: auto;
	width: 800px;
	background-color:grey;
	border: 1px solid black;
	font-size: 14px;
	box-sizing: border-box;
    padding: 5px;
}

div.post-footer {
    margin-top: 5px;
	padding: 16px;
    background-color: lightslategray;
    border-radius: 10px;
}

div.post-header {
	height: 35px;
	padding: 16px;
	display: flex;
	position: relative;
    margin-bottom: 17px;
}


.post-content {
    padding: 10px;
    background-color: #4F60B5;

}

.profile-icon {
	width: 60px;
	height: 60px;
	margin-right: 5px;
	border-radius: 50%;
	background-color: #FAFAFA;
	
	border: 1px solid #EFEFEF;
}

.profile-name-container{
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

.profile-name {
	padding: 5px;
    border-radius: 50px;
    background-color: lightgrey;
	
}

.profile-info{
	padding: 5px;
    border-radius: 50px;
    background-color: lightgray;
	width: 300px;
}


.username {
	font-size: inherit;
	
	margin: 0;
	padding: 0;
}



