@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Tsukimi+Rounded:wght@700&display=swap');


body {
	color: #262626;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

/*Header elements*/

.button-container{
    float: right;
}

.clickable{
    margin-right: 20px;
}

.clickable:hover{
    background-color: rgba(149, 149, 149, 0.5);
}

.nav-bar{
	background-color:red;
}

.title{
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 1.4rem;
}
/*End of header elements*/

/*Edit post elements (Slide 5)*/
.body-container {
    padding: 30px;
	margin-top: 0px;
    background-color: #FFBD59;
}

div.post-footer {
    margin-top: 5px;
	padding: 16px;
    background-color: lightslategray;
    border-radius: 10px;
}

.comment-bar {
	vertical-align: center;
	padding: 0 10px;
    border-radius: 50px;
    
	
    background-color: lightgray;
	
}

/*Content of comment bar*/

span.comment-title {
	padding: 3px;
	font-size: smaller;
	background-color: white;
    border-radius: 50px;
	min-height: 40px;
	min-width: 200px;
	
}

span.comment-body {
	display: inline-block;
	background-repeat: no-repeat;
    max-width: fit-content;
	margin: 8px;
}

span.edit{
	float: right;
	margin-right: 5px;
}

.edit {
	
	display: inline-block;
	background-image: url("edit-symbol.png");
	background-position: 0 0;
	background-repeat: no-repeat;
    background-size: 20px 20px;
	width: 20px;
	height: 20px;
	/*margin-left: auto;*/
	margin-top: 6px;
	margin-bottom: 8px;
}



div.edit{
	/*Used for profile name*/
    background-size: 15px 15px;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	margin-top: 5px;
    float:right;
}
/*End of comment bar content*/


.comment{
	display: block;
	background: url('text_bubble_l.png') no-repeat 2.941% 40%;
	background-size: 128px 32px;
	width: 26px;
	height: 22px;
	margin-left: 4px;
}

.content-header{
    background-color: white;
	display: flex;
    border-radius: 50px;
    align-items: center;
	line-height: 40px;
}

.content-text{
	margin-left: 10px;
	
}

.post-title{
    align-items: center;
    margin: 0 42em;
}

div.post-container{
	margin: auto;
	background-color:grey;
	border: 1px solid black;
	font-size: 14px;
	box-sizing: border-box;
    padding: 5px;
	
}


div.post-header {
	height: 35px;
	padding: 16px;
	display: flex;
	position: relative;
    margin-bottom: 17px;
}


.post-content {
	overflow: hidden;
    padding: 10px;
    background-color: #4F60B5;
	height: 550px;
	border-radius: 10px;
}

.img-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 10px;
	width:500px;
	height:500px;

}
.img{
	width: 100%;
    height: 100%;
	overflow: hidden;

}

.like{
	float:left;
	background-image: url('thumbs.png');
	background-size: 50px 25px;
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	
}

.dislike{
	float:left;
	background: url('thumbs.png') no-repeat -25px 0;
	background-size: 50px 25px;
	width: 25px;
	height: 25px;
	
}

.profile-icon {
	width: 60px;
	height: 60px;
	margin-right: 5px;
	border-radius: 50%;
	background-color: #FAFAFA;
	
	border: 1px solid #EFEFEF;
}

.profile-name-container{
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

.profile-name {
	padding: 5px;
    border-radius: 50px;
    background-color: lightgrey;
	
}

.profile-info{
	padding: 5px;
    border-radius: 50px;
    background-color: lightgray;
	width: 300px;
}


.username {
	font-size: inherit;
	
	margin: 0;
	padding: 0;
}



