@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Tsukimi+Rounded:wght@700&display=swap');

body {
	color: #262626;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.body-container {
    padding: 30px;
	margin-top: 0px;
    background-color: #FFBD59;
}

.button-container{
    float: right;
}

.content-header{
    text-align: center;
    border-radius: 50px;
    background-color: white;
}

.clickable{
    margin-right: 20px;
}

.clickable:hover{
    background-color: rgba(149, 149, 149, 0.5);
}

div.actions {
	margin-top: 4px;
	display: flex;
}

div.post-container{
	margin: auto;
	width: 800px;
	background-color:grey;
	border: 1px solid black;
	font-size: 14px;
	box-sizing: border-box;
    padding: 5px;
}

div.post-footer {
	padding: 0 16px;
}

div.post-header {
	height: 35px;
	padding: 16px;
	display: flex;
	position: relative;
    margin-bottom: 17px;
}


.post-content {
    padding: 10px;
    background-color: #4F60B5;

}

.profile-icon {
	width: 50px;
	height: 50px;
	margin-right: 5px;
	border-radius: 50%;
	background-color: #FAFAFA;
	
	border: 1px solid #EFEFEF;
}

.profile-name {
    border-radius: 50px;
    background-color: #00BF63;
    display: flex;
	flex-direction: row;
	max-width: 240px;
	margin-bottom: 10px;
}

.profile-info{
    border-radius: 50px;
    background-color: #00BF63;
}

.nav-bar{
	background-color:red;
}

.title{
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 1.4rem;
}

span.like {
	display: inline-block;
	background-image: url("sprites2.png");
	background-size: 411px 393px;
	background-position: 0px -319px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	margin: 8px 4px 8px 0px;
}

span.comment {
	display: inline-block;
	background-image: url("sprites2.png");
	background-size: 411px 393px;
	background-position: -125px -294px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	margin: 8px 4px 8px 4px;
}

span.share {
	display: inline-block;
	background-image: url("sprites2.png");
	background-size: 411px 393px;
	background-position: -200px -294px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	margin: 8px 4px 8px 4px;
}

span.bookmark {
	display: inline-block;
	background-image: url("sprites2.png");
	background-size: 411px 393px;
	background-position: -175px -344px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	margin-left: auto;
	margin-top: 8px;
	margin-bottom: 8px;
}

.username {
	font-size: inherit;
	font-weight: 700;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

.user-handle {
	color: #262626;
	font-weight: 600;
	padding-left: 5px;
	margin-left: -5px;
}



