<!DOCTYPE html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        {{{body}}}
        <script src="{{script}}" defer></script> {{!-- not sure code, but works --}}
    </body>
</html> 