<link rel="stylesheet" href="static/css/about.css">

<div class="firsthead">
            <span class="logo">
                <img class="header_logo">
                <p class="header_text">Postiee</p>
            </span>
        </div>

    <div class="body">
        <div class="creators">
            <p><b>DEVELOPERS: </b></p>
            <div class="member">
                <img class="memberPic" src="static/uploads/matt.jpg">
                <span class="name">Matthew Chua</span>
            </div>
            <div class="member">
                <img class="memberPic" src="static/uploads/michael.jpg">
                <span class="name">Michael Go</span>
            </div>
            <div class="member">
                <img class="memberPic" src="static/uploads/derek.jpg">
                <span class="name">Derek Bautista</span>
            </div>
            <div class="member">
                <img class="memberPic" src="static/uploads/noProfile.jpg">
                <span class="name">Jonathan Lagunzad</span>
            </div>
        </div>
        <div class="credits">
            <pre>           Resources Used:</br>
                Server: Node.js </br>
                Database: MongoDB</br>
                Modules:</br>
                    Bcrypt</br>
                    connect-mongodb-session</br>
                    dotenv</br>
                    express</br>
                    express-handlebars </br>
                    express-session </br> 
                    express-validator </br>
                    mime-types </br>
                    mongodb </br>
                    multer </br>
          </pre>
        </div>
    </div>