
<link rel="stylesheet" href="static/css/index.css">

        <div class="firsthead">
            <span class="logo">
                <img class="header_logo">Postiee
            </span>
            <span class="search">
                <input type="text" id="searchbar" name="searchbar" placeholder="Search...">
                <button id="searchsubmit" name="searchsubmit" type="submit">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                    </svg>
                </button>
            </span>
            <span class="logreg">
                <button id="logregbtn" name="logregbutton" type="button">Login/Register</button>
            </span>
        </div>
        <div class="secondhead">
                <button id="createpost" name="createpost" type="button">Create Post</button>           
            <span class="rightbtns">


                <button class="movebutton" id="prevPage" name="prevpage" type="button" data-prev={{prevPage}}>Previous Page</button>
                <button class="movebutton" id="nextPage" name="nextpage" type="button" data-next={{nextPage}}>Next Page</button>
            

            </span>
        </div>

        <div class="posts-container">
            {{#each posts}}
                {{#unless (eq3 isDeleted)}}
                    {{> posts this}}
                {{/unless}}
            {{/each}}
        </div>
        <div class="wrapper">
            <button class="closelogreg" type="button">X</button>
            <div class="formbox log">
                <h2>Login</h2>
                <div class="wrongCredentials"> Incorrect username or password</div>
                <form action="#">
                    <div class="inputbox">
                        <input type="email" id="logemail" required>
                        <label>Email</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" id = "logpassword" required>
                        <label>Password</label>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox">
                        Remember me</label>
                        <a href="#">Forgot Password?</a>
                    </div>
                    <button type="submit" class="submitbtnlog">Login</button>
                    <div class="login-register">
                        <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
                    </div>
                </form>
            </div>
            <div class="formbox reg">
                <h2>Register</h2>
                <div class="wrongRegister">Registering failed</div>
                <form action="#">
                    <div class="inputbox">
                        <input type="text" id="regname" required>
                        <label>Username</label>
                    </div>
                    <div class="inputbox">
                        <input type="email" id="regemail" required>
                        <label>Email</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" id="regpassword" required>
                        <label>Password</label>
                    </div>
                    <button type="submit" class="submitbtnreg">Register</button>
                    <div class="login-register">
                        <p>Already have an Account? <a href="#" class="login-link">Login</a></p>
                    </div>
                </form>
            </div>
        

