@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #66c0db;
    color: black;
    margin: 0px;
}
.navbar{
    height: 4rem;
    position: sticky;
    top:0px;
    background-color: #0081A7;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.logo {
    font-size: 40px;
    margin: 0px;
    float: right;
}

.header_logo {
    background-image: url("https://media.discordapp.net/attachments/354239629798539264/1120363756287951061/merchant.jpg");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    display: inline-flex;
    width: 50px;
    height: 50px;
    margin: 0px;
}

.name{
    padding-top: 10px;
    font-size: 25px;
    color: black;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

#searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 9px;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    border-radius: 1.625rem;
    outline: none;
    background: #f5f5f5;
}

.profile{
    background-color:#0081A7;
    border: none;
    height: 40px;
    margin: 0px;
    margin-top: 10px;
    margin-right: 10px;
}

.profile-pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0px;
}

.post-container{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
}

.header{
    display: flex;
    height: 1%;
    margin: 20px;
}

.likes{
    width: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.like{
    display: inline-block;
    background-image: url("/static/images/sprites2.png");
    width: 50px;
    height: 30px;
    background-position: -550px -520px;
    background-size: 900px 786px;
    margin-top: 10px;
    background-color: white;
    border: none;
}

.like:hover{
    background-color: #f5f5f5;
}

.counter{
    font-size: 18px;
    text-align: center;
}

.dislike{
    display: inline-block;
    background-image: url("/static/images/sprites2.png");
    width: 50px;
    height: 30px;
    background-position: -331px -520px;
    background-size: 900px 786px;
    margin-top: 0px;
    background-color: white;
    border: none;
}

.dislike:hover{
    background-color: #f5f5f5;
}

.post-title{
    margin: 10px;
    padding-top: 34px;
    font-size: 25px;
}

.body{
    margin: 20px;
    font-size: 18px;
    margin-left: 100px;
    padding-bottom: 10px;
}

.divider{
    text-align: center;
}

.line{
    margin-left: 20px;
    margin-right: 20px;
}

.comments{
    margin: 20px;
    font-size: 18px;
    margin-left: 20px;
    padding-bottom: 10px;
}


.add-comment{
    margin-left: 10px;
    margin-bottom: 15px;
}

.add-comment p{
    font-size: 18px;
}

#comment-input{
    margin-top: 0px;
    background-color: #f5f5f5;
    border: none;
    color: black;
    margin-top: 1px;
    height: 100px;
    width: 100%;
    text-align: center;
}

.comment-thread{
    
}
.comment-header{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.comment-profile{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.comment-name{
    margin-left: 10px;
    padding-top: 5px;
}

.comment-body{
    margin-left: 80px;
    font-size: 18px;
}

.comment-body + div{
    margin-left: 100px;
    padding-bottom: 5px;
}

.reply-button{
    height: 30px;
    background-color: white;
    border: none;
    color: black;
    margin-top: 10px;
    font-size: 15px;
    
}

.reply-button:hover{
    background-color: #f5f5f5;
}

.reply-input{
    background-color: #f5f5f5;
    border: none;
    color: black;
    margin-top: 1px;
    height: 180px;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    margin-left: 100px;
}

#submit-comment ,.submit-reply{
    margin-left: 10px;
    border: none;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
}

.submit-reply{
    margin-left: 100px;
}

#submit-comment:hover ,.submit-reply:hover{
    margin-left: 10px;
    border: none;
    background-color: #f5f5f5;
}

.submit-reply:hover{
    margin-left: 100px;
}

.firsthead {
    position: sticky;
    top: 0px;
    background-color: #0081A7;
    display: flex;
    height: 4rem;
    z-index: 2; 
}

.logo {
    font-size: 40px;
    margin: 0px;
    float: right;
    display: flex;
    align-items: center;
}

.header_logo {
    background-image: url("https://media.discordapp.net/attachments/354239629798539264/1120363756287951061/merchant.jpg");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    display: inline-flex;
    width: 50px;
    height: 50px;
    margin: 0px;
}

.header_text{
    cursor: pointer;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

#searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 9px;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    border-radius: 1.625rem;
    outline: none;
    background: #f5f5f5;
}

#searchsubmit {
    background: none;
    border: none;
    outline: none;
    margin-left: -2.5rem;
}

#searchsubmit:hover{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#profilePic {
    border-radius: 50%;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 3px 10px 0px 0px;
}

.profileBtn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    top: 64px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: #3bc98e;
    border: 1px solid #249e6b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 10px;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.show-menu .dropdown-content {
    display: block;
    opacity: 1;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
