@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    font-family: 'Roboto Mono', monospace;
}

body{
    margin: 0px;
}

.firsthead {
    position: sticky;
    top: 0px;
    background-color: #0081A7;
    display: flex;
    height: 4rem;
    z-index: 2; 
}

.secondhead {
    position: sticky;
    top: 0px;
    background-color: #66c0db;
    height: 4rem;
    z-index: 1;
}

.logo {
    font-size: 40px;
    margin: 0px;
    float: right;
    display: flex;
    align-items: center;
}

.header_logo {
    background-image: url("https://media.discordapp.net/attachments/354239629798539264/1120363756287951061/merchant.jpg");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    display: inline-flex;
    width: 50px;
    height: 50px;
    margin: 0px;
}

.header_text{
    cursor: pointer;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

#searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 9px;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    border-radius: 1.625rem;
    outline: none;
    background: #f5f5f5;
}

#searchsubmit {
    background: none;
    border: none;
    outline: none;
    margin-left: -2.5rem;
}

#searchsubmit:hover{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#profilePic {
    border-radius: 50%;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 3px 10px 0px 0px;
}

.profileBtn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    top: 64px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: #3bc98e;
    border: 1px solid #249e6b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 10px;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.show-menu .dropdown-content {
    display: block;
    opacity: 1;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#createpost {
    margin: 0.5rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: left;
    float: left;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1.625rem;
}

#createpost:hover {
    cursor:pointer;
}

.rightbtns {
    display: flex;
    float: right;
    text-align: right;
    flex-direction: right;
    justify-content: flex-end;
}

.movebutton {
    margin: 0.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    float: right;
    text-align: right;
    flex-direction: right;
    justify-content: flex-end;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1.625rem;
}

.movebutton:hover{
    cursor:pointer;
}

.profile-box {
    border: 2px solid #000000; 
    border-radius: 10px; 
    padding: 20px; 
    width: 85%;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.top-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-pic img {
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info h1 {
    font-size: 1.5em;
    margin: 0;
}


.bottom-section h2 {
    font-size: 0.9em;
    margin: 5px 0;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
